// global
@import "global/variables";
@import "global/mixins";

//bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
//for react bootstrap
@import "~bootstrap/scss/bootstrap";

// backup fonts
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//gotham font
@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url(../fonts/Gotham/Gotham-Book.otf) format("truetype");
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
    url(../fonts/Gotham/Gotham-BookItalic.otf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url(../fonts/Gotham/Gotham-Bold.otf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url(../fonts/Gotham/Gotham-Black.otf) format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
    url(../fonts/Gotham/Gotham-BlackItalic.otf) format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
    url(../fonts/Gotham/Gotham-BoldItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
    url(../fonts/Gotham/Gotham-BoldItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
    url(../fonts/Gotham/Gotham-Medium.otf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
    url(../fonts/Gotham/Gotham-MediumItalic.otf) format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url(../fonts/Gotham/Gotham-Light.otf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
    url(../fonts/Gotham/Gotham-LightItalic.otf) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url(../fonts/Gotham/Gotham-Thin.otf) format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
    url(../fonts/Gotham/Gotham-ThinItalic.otf) format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
    url(../fonts/Gotham/Gotham-XLight.otf) format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
    url(../fonts/Gotham/Gotham-XLightItalic.otf) format("truetype");
  font-weight: 100;
  font-style: italic;
}

// components
@import "components/form";
@import "components/browse";
@import "components/button";
@import "components/collapse";
@import "components/link";
@import "components/search";
@import "components/tabs";
@import "components/viewer";
@import "components/popover";
@import "components/navigator";
@import "components/description";
@import "components/related";
@import "components/sticky";
@import "components/facet-collapse";

// layout
@import "layout/facets";
@import "layout/header";
@import "layout/layout";
@import "layout/manifest";
@import "layout/search";
@import "layout/navbar";
@import "layout/search-limits";

// pages
@import "pages/about";

// vendor
@import "vendor/mirador";
