$sans: 'Gotham', 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$serif: 'Halant', Georgia, serif;

$primary: #313E48;
$muted: #f1f0ef;
$midtone: darken($muted, 10);
$highlight: darken($muted, 25);


$secondary: #006C93;
$secondaryMuted: desaturate(lighten($secondary, 61.8), 61.8);

$accent: #FF8200;
$accentMuted: desaturate(lighten($accent, 38.2), 38.2);

$offwhite: #FAF9F9;

$box-shadow: 4px 4px 8px rgba($primary, 0.15);
$box-shadow-focus: 6px 6px 12px rgba($primary, 0.25);
$box-shadow-slim: 2px 2px 5px rgba($primary, 0.15);
