.canopy-about {
  display: flex;
  min-height: 25vh;

  &--panel {
    width: 100%;
  }

  .canopy-control-item {
    background-color: white;
    padding: 1rem;
    box-shadow: $box-shadow;

    > span {
      font-weight: 700;
    }
  }
}
