.canopy-collapse-trigger {
  border: none;
  padding: 1rem;
  width: 100%;
  font-family: $sans;
  color: white;
  background-color: $secondary;
  font-weight: 700;
  font-size: 0.8333em;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;

  svg {
    display: none;
  }

  &[data-state="open"] {
    position: absolute;
    width: 36px;
    height: 36px;
    right: 0;
    padding: 0;
    background-color: white;
    box-shadow: none;
    border-left: 1px solid $muted;

    span {
      display: none;
    }

    svg {
      display: block;
      fill: $primary;
    }
  }
}
