dl.canopy-metadata {
  font-size: 0.8333em;

  .metadata-group {
    border-bottom: 1px solid $offwhite;
  }

  dt {
    font-weight: 600;
    margin-top: 1em;
    min-width: 40%;
    @include media-breakpoint-up(xs) {
      min-width: 50%;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  dd {
    margin: 0;
  }
}
