.canopy-form {
  margin: 30px 0;
  transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
  @include media-breakpoint-up(md) {
    width: calc(100% - 2rem);
  }

  form {
    display: flex;

    .canopy-form-item {
      display: flex;
      padding: 0 1em;
      position: relative;

      label {
        padding: 0.75rem;
        font-size: 0.8333em;
      }

      input {
        padding: 0.75rem 1rem;
        font-family: $sans;
        font-weight: 400;
        font-size: 1em;
        border-radius: 3px;
        border: none;
        background-color: white;
        transition: all 200ms ease-in-out;
        box-shadow: $box-shadow;

        &:focus {
          box-shadow: $box-shadow;
          outline: none;
        }
      }

      &:first-child {
        margin-left: -1em;
      }

      &:last-child {
        margin-right: -1em;
      }

      &-search {
        flex-grow: 1;
        flex-shrink: 0;
        @include media-breakpoint-up(md) {
          max-width: 61.8%;
        }

        label {
          display: none;
        }

        input {
          font-size: 1rem;
          width: 100%;
          transition: all 200ms ease-in-out;
          outline: 2px solid transparent;
          border-radius: 40px;
          padding: 17px 40px;
          &:focus {
            box-shadow: $box-shadow-focus;
            outline: 2px solid $highlight;
          }
        }

        button {
          border: none;
          box-shadow: none;
          position: absolute;
          right: 0;
          padding: 0.5em 1em;
          border-radius: 2px;
          cursor: pointer;
          margin-top: 10px;
          margin-right: 30px;
          font-family: $sans;
          background-color: transparent;
          color: $secondary;
          font-weight: 700;
          transition: all 200ms ease-in-out;

          &:hover,
          &:focus {
            transform: scale(1.1);
          }
        }
      }

      &-dropdown {
        position: relative;
        display: flex;
        flex-grow: 1;
        display: flex;

        button {
          overflow: hidden;
          position: relative;
          box-shadow: none;
          right: 0;
          padding: 0.25em calc(1em + 30px) 0.25em 1em;
          border-radius: 3px;
          cursor: pointer;
          font-family: $sans;
          background-color: white;
          border: none;
          color: $primary;
          font-weight: 700;
          font-size: 1rem;
          transition: all 200ms ease-in-out;
          box-shadow: $box-shadow;
          flex-grow: 1;

          &::before {
            position: absolute;
            content: "";
            width: 30px;
            display: block;
            height: 30px;
            background-color: $secondary;
            right: 7px;
            top: 7px;
            transition: all 200ms ease-in-out;
            border-radius: 3px;
          }

          svg {
            position: absolute;
            content: "";
            width: 1.5em;
            height: 1.25em;
            display: block;
            right: 0.58em;
            bottom: 0.75em;
            fill: white;
            transition: all 200ms ease-in-out;
          }

          &:hover,
          &:focus {
            border-color: white;
            box-shadow: $box-shadow-focus;
            outline: none;

            &::before {
              background-color: $primary;
            }

            svg {
              fill: white;
              bottom: 0.625em;
            }
          }
        }
      }
    }
  }
}

.canopy-form-item-content {
  font-size: 0.8333em;
  margin-top: 2px;
  max-height: 275px;
  max-width: 30vw;
  overflow: scroll;
}

.canopy-form-item-checkbox {
  display: flex;
  cursor: pointer;
  margin-bottom: 0.5em;

  &.current-filter {
    border: 1px solid $offwhiteDark;
    padding: 10px;
    border-radius: 5px;

    label button.current-filter-box {
      background-color: transparent;
      border: 0;
      margin-left: 10px;
      margin-top: 2px;
    }
  }

  &:hover {
    color: $secondary;
  }

  &:last-child {
    margin-bottom: 0;
  }

  > label {
    display: flex;

    button {
      height: 16px;
      width: 16px;
      margin-right: 0.25rem;
      padding: 0;
      border: 1px solid rgba($primaryMuted, 0.25);
      border-radius: 15px;
      background: $muted;
      flex-shrink: 0;

      &[data-state="checked"] {
        color: $secondary;

        span {
          display: flex;
          margin: -2px;
        }

        svg {
          fill: $primaryMuted;
        }
      }
    }


    strong {
      font-weight: 400;
      margin-right: 0.25rem;
      flex-grow: 0;
      flex-shrink: 1;
    }

    em {
      font-style: normal;
      flex-grow: 0;
      flex-shrink: 1;
      width: auto;
    }
  }

  * {
    cursor: inherit;
  }
}
