.canopy-search-results {
  width: 61.8%;
  background-color: white;
  border-right: 1px solid $muted;

  article {
    display: flex;
    margin: 1em;
    padding: 1rem;
    border-radius: 3px;
    box-shadow: $box-shadow-slim;
    background-color: white;

    &:last-child {
      margin-bottom: 0;
    }

    figure {
      width: 100px;
      height: 75px;
      padding: 0;
      margin: 0 1em 1em 0;
      border-radius: 3px;
      background-color: $muted;
      box-sizing: border-box;
    }

    > div {
      a,
      a:visited {
        text-decoration: none;
      }

      header {
        font-weight: 700;
        font-size: 1.125em;
        line-height: 1.25em;
        font-family: $serif;
      }

      p {
        display: block;
        font-size: 0.8333em;
        line-height: 1.55em;
        overflow: hidden;
        word-wrap: break-word;
        white-space: normal;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 4;
      }
    }
  }
}

.canopy-no-results {
  padding: 2rem;

  > span {
    color: $secondary;
    font-family: $serif;
    font-size: 2rem;
    letter-spacing: -0.05em;
  }
}
