header.canopy-header {
  padding: 1rem 2rem;

  a,
  a:visited {
    text-decoration: none !important;
    color: $primary !important;
  }

  span.canopy-title {
    font-weight: 400;
    font-family: $serif;
    display: block;
    letter-spacing: -0.06em;
    font-size: 2.5em;
  }

  span.canopy-subtitle {
    font-size: 0.7222rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: inline-flex;
    flex-direction: column;
    position: relative;

    &:before {
      height: 1px;
      width: 100%;
      background-color: $muted;
      content: '';
      display: block;
      margin-top: -0.65rem;
      position: absolute;
    }
  }
}
