header.canopy-header {
  padding: 2rem;
  height: 40vh;
  font-family: $sans;
  background-image: linear-gradient(
      to bottom,
      rgb(255, 255, 255),
      rgba(0, 0, 0, 0.164)
    ),
    url("../images/placeholder-background.jpeg");
  background-size: cover;

  @include breakpoints(xs) {
    padding: 1rem;
  }

  a,
  a:visited {
    text-decoration: none;
    color: $primary;
  }

  .canopy-title {
    font-weight: 400;
    font-size: 2.5em;
  }

  .canopy-subtitle {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .canopy-caption {
    font-weight: 600;
    @include media-breakpoint-up(md) {
      width: 50vw;
    }
  }
}
