html {
  font-family: $sans;
  font-size: 16px;
}

body {
  font-size: 1em;
  margin: 0 auto;
  word-wrap: break-word;
  font-kerning: normal;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  background-color: $muted;
}

.canopy {
  > div > header {
    padding: 2rem;
  }

  > div > main {
    padding: 2rem;
  }

  > div > footer {
    padding: 2rem;
  }
}

.canopy-panel {
  border-radius: 3px;
  box-shadow: $box-shadow;
  background-color: white;
  padding: 0.5rem;
}
