html {
  font-family: $sans;
  font-size: 16px;
}

body {
  font-size: 1em;
  margin: 0 auto;
  word-wrap: break-word;
  font-kerning: normal;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  background-color: #333;
  background-image: url("../images/chimney-top-2-fire-background_25effa54.jpg");
  background-position: 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
  color: $primary;
}

.canopy {
  border-top: 11px solid $accent;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) calc(100% - 200px), rgba(255,255,255,1) 100%);

  > div > main {
    .canopy-main {
      display: flex;

      aside {
        max-width: 38.2%;
        flex-grow: 1;
        padding: 2rem 0 0 2rem;
      }
    }
  }

  > div > footer {
    padding: 3rem;
  }
}

.canopy-panel {
  box-shadow: $box-shadow;
  background-color: white;
}
