article.canopy-manifest {
  display: flex;
  flex-direction: column;

  > header {
    padding: 1rem 0 2rem;
    display: flex;
    justify-content: space-between;

    h1 {
      margin: 0;
      font-size: 2em;
      font-family: $serif;
      font-weight: 600;
      line-height: 1.15em;
      letter-spacing: -0.02em;
      padding-right: 10rem;
    }
  }

  .canopy-viewer {
    display: flex;
    height: calc(100% - 1rem);

    @include breakpoints(xs, sm, md) {
      flex-direction: column;
    }

    @extend .canopy-panel;

    .canopy-video {
      position: relative;
      flex-grow: 1;
      flex-shrink: 1;
      width: 61.8%;
    }

    .canopy-navigator {
      width: 38.2%;
      flex-shrink: 0;
      flex-grow: 0;
      background-color: transparent;
    }
  }

  .canopy-details {
    margin-top: 2rem;

    @extend .canopy-panel;
  }

  .canopy-related {
    margin-top: 2rem;

    @extend .canopy-panel;
  }
}
