article.canopy-object {
  display: flex;
  flex-direction: column;

  .canopy-viewer {
    display: flex;
    height: calc(100% - 1rem);
    box-shadow: $box-shadow;
    padding: 0.5rem;
    border-radius: 5px;

    .canopy-mirador {
      position: relative;
      flex-grow: 1;
      flex-shrink: 1;
    }

    .canopy-navigator {
      width: 38.2%;
      flex-shrink: 0;
      flex-grow: 0;
      background-color: transparent;
    }
  }
}
