article.canopy-object {
  display: flex;
  flex-direction: column;

  .canopy-viewer {
    display: flex;
    height: calc(100% - 1rem);
    border-radius: 3px;
    box-shadow: $box-shadow;
    background-color: white;
    padding: 0.5rem;

    .canopy-mirador {
      position: relative;
      flex-grow: 1;
      flex-shrink: 1;
    }

    .canopy-navigator {
      width: 38.2%;
      flex-shrink: 0;
      flex-grow: 0;
      background-color: transparent;
    }
  }
}
